

.select {
  margin-right: 1rem;
}

.button {
  margin-left: auto;
}

/* Navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ccc;
}
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for the form fields */
.field {
  margin-bottom: 2rem;
  width: 100%;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  box-shadow: none;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

.file-cta {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-cta:hover {
  background-color: #eee;
}

.file-label {
  margin-right: 0.5rem;
}

.file-name {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #666;
}

.image {
  margin-top: 1rem;
}

.image img {
  border-radius: 0.5rem;
}

/* Styles for the buttons */
.button {
  background-color: #009688;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #008080;
}

.button--secondary {
  background-color: #fff;
  color: #333;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

.button--secondary:hover {
  background-color: #eee;
}

@media only screen and (max-width: 500px) {
  .field {
    width: 100%;
  }

  .button,
  .button--secondary {
    margin-top: 1rem;
  }
}
.reviews-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reviews-table th,
.reviews-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.reviews-table th {
  text-align: left;
}

.reviews-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}
.editButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
.container {
  margin-top: 50px;
}

.label {
  font-weight: bold;
  margin-top: 20px;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}

.select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  transform: translateY(-50%);
  pointer-events: none;
}

.select select {
  width: 100%;
  padding: 8px 30px 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-color: transparent;
  outline: none;
}

.button.is-success {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.columns.is-multiline {
  margin-top: 20px;
}

.card {
  max-width: 200px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-action-area {
  cursor: pointer;
}

.card-media {
  height: 50px;
}

.card-content {
  padding: 10px;
}

.card-content h5 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card-content p {
  margin-bottom: 5px;
  font-size: 14px;
}

.editButton,
.deleteButton {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}
  

.editButton:hover,
.deleteButton:hover {
  opacity: 0.8;
}

.add_p {
  position: fixed;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid green;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease;
}

.add_p:hover {
  background-color: green;
  color: white;
}
