.slider-wrapper{
    border: 1px solid gray;
    height: 300px;
    width: 200px;
    padding-left: 18%;
    background-color: rgb(111, 18, 71);
}
.imag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-wrapper .link{
    color: blueviolet; 
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(271, 76%, 53%,0.3);
}